.pdf-list {
	width: 80%;
}
.card {
	width: 18rem;
}
.category .list-group {
	width: 200px;
}
.nd {
	text-decoration: none;
}

.card-text {
    color: black;
}

.container {
	z-index: -1;
}