.port {
  padding: 5%;
}
.gallery-item {
  position: relative;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
/* overlay */

.gallery-item img {
  width: 100%;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gallery-item:hover .overlay {
  opacity: 1;
}
.gallery-item .overlay h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.gallery-item .overlay p {
  font-size: 16px;
  margin-bottom: 20px;
}
.gallery-item .overlay .btn {
  font-size: 16px;
}
.modal {
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
  .gallery-item {
    margin-bottom: 30px;
  }
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
